

workspace
sources/common/adverts-common-persistence/build/*
sources/common/adverts-common-persistence/tmp/*
sources/common/adverts-common-persistence/eclipse/*
sources/common/adverts-common-persistence/logs/*
sources/common/adverts-common-persistence/bin/*
sources/common/adverts-common-persistence/.project
sources/common/adverts-common-persistence/.settings
sources/common/adverts-common-persistence/.DS_Store
sources/common/adverts-common-persistence/.classpath

sources/crawler/adverts-crawler-core/build/*
sources/crawler/adverts-crawler-core/tmp/*
sources/crawler/adverts-crawler-core/eclipse/*
sources/crawler/adverts-crawler-core/logs/*
sources/crawler/adverts-crawler-core/bin/*
sources/crawler/adverts-crawler-core/.project
sources/crawler/adverts-crawler-core/.settings
sources/crawler/adverts-crawler-core/.DS_Store
sources/crawler/adverts-crawler-core/.classpath

sources/crawler/adverts-crawler-persistence/build/*
sources/crawler/adverts-crawler-persistence/tmp/*
sources/crawler/adverts-crawler-persistence/eclipse/*
sources/crawler/adverts-crawler-persistence/logs/*
sources/crawler/adverts-crawler-persistence/bin/*
sources/crawler/adverts-crawler-persistence/.project
sources/crawler/adverts-crawler-persistence/.settings
sources/crawler/adverts-crawler-persistence/.DS_Store
sources/crawler/adverts-crawler-persistence/.classpath

sources/crawler/adverts-crawler-irr/build/*
sources/crawler/adverts-crawler-irr/tmp/*
sources/crawler/adverts-crawler-irr/eclipse/*
sources/crawler/adverts-crawler-irr/logs/*
sources/crawler/adverts-crawler-irr/lib/*
sources/crawler/adverts-crawler-irr/bin/*
sources/crawler/adverts-crawler-irr/.project
sources/crawler/adverts-crawler-irr/.settings
sources/crawler/adverts-crawler-irr/.DS_Store
sources/crawler/adverts-crawler-irr/.classpath

sources/crawler/adverts-crawler-kn/build/*
sources/crawler/adverts-crawler-kn/tmp/*
sources/crawler/adverts-crawler-kn/eclipse/*
sources/crawler/adverts-crawler-kn/logs/*
sources/crawler/adverts-crawler-kn/bin/*
sources/crawler/adverts-crawler-kn/lib/*
sources/crawler/adverts-crawler-kn/.project
sources/crawler/adverts-crawler-kn/.settings
sources/crawler/adverts-crawler-kn/.DS_Store
sources/crawler/adverts-crawler-kn/.classpath

sources/crawler/adverts-crawler-krisha/build/*
sources/crawler/adverts-crawler-krisha/tmp/*
sources/crawler/adverts-crawler-krisha/eclipse/*
sources/crawler/adverts-crawler-krisha/logs/*
sources/crawler/adverts-crawler-krisha/bin/*
sources/crawler/adverts-crawler-krisha/lib/*
sources/crawler/adverts-crawler-krisha/.project
sources/crawler/adverts-crawler-krisha/.settings
sources/crawler/adverts-crawler-krisha/.DS_Store
sources/crawler/adverts-crawler-krisha/.classpath

sources/crawler/adverts-crawler-olx/build/*
sources/crawler/adverts-crawler-olx/tmp/*
sources/crawler/adverts-crawler-olx/eclipse/*
sources/crawler/adverts-crawler-olx/logs/*
sources/crawler/adverts-crawler-olx/bin/*
sources/crawler/adverts-crawler-olx/lib/*
sources/crawler/adverts-crawler-olx/.project
sources/crawler/adverts-crawler-olx/.settings
sources/crawler/adverts-crawler-olx/.DS_Store
sources/crawler/adverts-crawler-olx/.classpath

sources/libs/*

.DS_Store

