
.gradle
.gradle/

workspace
sources/common/adverts-common/build/*
sources/common/adverts-common/tmp/*
sources/common/adverts-common/eclipse/*
sources/common/adverts-common/logs/*
sources/common/adverts-common/bin/*
sources/common/adverts-common/.project
sources/common/adverts-common/.settings
sources/common/adverts-common/.DS_Store
sources/common/adverts-common/.classpath

sources/common/adverts-common-persistence/build/*
sources/common/adverts-common-persistence/tmp/*
sources/common/adverts-common-persistence/eclipse/*
sources/common/adverts-common-persistence/logs/*
sources/common/adverts-common-persistence/bin/*
sources/common/adverts-common-persistence/.project
sources/common/adverts-common-persistence/.settings
sources/common/adverts-common-persistence/.DS_Store
sources/common/adverts-common-persistence/.classpath

sources/crawler/adverts-crawler-core/build/*
sources/crawler/adverts-crawler-core/tmp/*
sources/crawler/adverts-crawler-core/eclipse/*
sources/crawler/adverts-crawler-core/logs/*
sources/crawler/adverts-crawler-core/bin/*
sources/crawler/adverts-crawler-core/.project
sources/crawler/adverts-crawler-core/.settings
sources/crawler/adverts-crawler-core/.DS_Store
sources/crawler/adverts-crawler-core/.classpath

sources/crawler/adverts-crawler-persistence/build/*
sources/crawler/adverts-crawler-persistence/tmp/*
sources/crawler/adverts-crawler-persistence/eclipse/*
sources/crawler/adverts-crawler-persistence/logs/*
sources/crawler/adverts-crawler-persistence/bin/*
sources/crawler/adverts-crawler-persistence/.project
sources/crawler/adverts-crawler-persistence/.settings
sources/crawler/adverts-crawler-persistence/.DS_Store
sources/crawler/adverts-crawler-persistence/.classpath

sources/crawler/adverts-crawler-irr/build/*
sources/crawler/adverts-crawler-irr/tmp/*
sources/crawler/adverts-crawler-irr/eclipse/*
sources/crawler/adverts-crawler-irr/logs/*
sources/crawler/adverts-crawler-irr/lib/*
sources/crawler/adverts-crawler-irr/bin/*
sources/crawler/adverts-crawler-irr/.project
sources/crawler/adverts-crawler-irr/.settings
sources/crawler/adverts-crawler-irr/.DS_Store
sources/crawler/adverts-crawler-irr/.classpath

sources/crawler/adverts-crawler-kn/build/*
sources/crawler/adverts-crawler-kn/tmp/*
sources/crawler/adverts-crawler-kn/eclipse/*
sources/crawler/adverts-crawler-kn/logs/*
sources/crawler/adverts-crawler-kn/bin/*
sources/crawler/adverts-crawler-kn/lib/*
sources/crawler/adverts-crawler-kn/.project
sources/crawler/adverts-crawler-kn/.settings
sources/crawler/adverts-crawler-kn/.DS_Store
sources/crawler/adverts-crawler-kn/.classpath

sources/crawler/adverts-crawler-krisha/build/*
sources/crawler/adverts-crawler-krisha/tmp/*
sources/crawler/adverts-crawler-krisha/eclipse/*
sources/crawler/adverts-crawler-krisha/logs/*
sources/crawler/adverts-crawler-krisha/bin/*
sources/crawler/adverts-crawler-krisha/lib/*
sources/crawler/adverts-crawler-krisha/.project
sources/crawler/adverts-crawler-krisha/.settings
sources/crawler/adverts-crawler-krisha/.DS_Store
sources/crawler/adverts-crawler-krisha/.classpath

sources/crawler/adverts-crawler-olx/build/*
sources/crawler/adverts-crawler-olx/tmp/*
sources/crawler/adverts-crawler-olx/eclipse/*
sources/crawler/adverts-crawler-olx/logs/*
sources/crawler/adverts-crawler-olx/bin/*
sources/crawler/adverts-crawler-olx/lib/*
sources/crawler/adverts-crawler-olx/.project
sources/crawler/adverts-crawler-olx/.settings
sources/crawler/adverts-crawler-olx/.DS_Store
sources/crawler/adverts-crawler-olx/.classpath


sources/phones/adverts-phone-core/build/*
sources/phones/adverts-phone-core/tmp/*
sources/phones/adverts-phone-core/eclipse/*
sources/phones/adverts-phone-core/logs/*
sources/phones/adverts-phone-core/bin/*
sources/phones/adverts-phone-core/lib/*
sources/phones/adverts-phone-core/.project
sources/phones/adverts-phone-core/.settings
sources/phones/adverts-phone-core/.DS_Store
sources/phones/adverts-phone-core/.classpath

sources/phones/adverts-phone-processor/build/*
sources/phones/adverts-phone-processor/tmp/*
sources/phones/adverts-phone-processor/eclipse/*
sources/phones/adverts-phone-processor/logs/*
sources/phones/adverts-phone-processor/bin/*
sources/phones/adverts-phone-processor/lib/*
sources/phones/adverts-phone-processor/.project
sources/phones/adverts-phone-processor/.settings
sources/phones/adverts-phone-processor/.DS_Store
sources/phones/adverts-phone-processor/.classpath

sources/phones/adverts-phone-web/build/*
sources/phones/adverts-phone-web/tmp/*
sources/phones/adverts-phone-web/eclipse/*
sources/phones/adverts-phone-web/logs/*
sources/phones/adverts-phone-web/bin/*
sources/phones/adverts-phone-web/lib/*
sources/phones/adverts-phone-web/.project
sources/phones/adverts-phone-web/.settings
sources/phones/adverts-phone-web/.DS_Store
sources/phones/adverts-phone-web/.classpath

sources/libs/*



.DS_Store

