<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    metadata-complete="false"
    version="3.0">

    <display-name>Adverts Subscription Live</display-name>
    <description>Adverts Subscription Live</description> 
	
	<listener>
        <description>ApplicationStartupListener</description>
        <listener-class>kz.aphion.adverts.subscription.live.listeners.ApplicationStartupListener</listener-class>
	</listener>
	
</web-app>
